!!!
%html
%head
	%title Drippple
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"}
	= csrf_meta_tags
%body
	%header
		.wrapper.clearfix
			#logo= link_to "Drippple", root_path
			%nav
				- if user_signed_in?
					= avatar_profile_link current_user
					= link_to "New Inspiration", new_post_path, class: "button"
					= link_to "Sign Out", destroy_user_session_path, method: :delete
				- else
					= link_to "Sign In", new_user_session_path
					= link_to "Sign Up", new_user_registration_path, class: "button"
	.wrapper
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-#{flash_class_type(name)} flash"
	
	.wrapper
		= yield
